/* @media (hover:none) {
    .text {
        visibility: visible;
    }   
}
@media (hover:hover) {
    .text {
        visibility: visible;
    }
} */



@media screen and (min-width: 320px) {
    .employeeGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        /* margin-top: 20px; */
        justify-content: center;
    }
    .media1, .media2, .media3 {
        margin-bottom: 450px;
    }
    .empIcons {
        flex-direction: column;
    }
    .empIcons2 {
        flex-direction: column;
        margin-top: 513px;
    }
    .empIcons3 {
        flex-direction: column;
        margin-top: 983px;
    }
}

@media screen and (min-width: 768px) {
    .employeeGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        margin-top: 20px;
        justify-content: center;
    }
    .empIcons2 {
       margin-top: 0px;
    }
    .empIcons3 {
        margin-top: 250px;
    }
}



@media screen and (min-width: 900px) {
    .topEmpGrid {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 200px;
    }
    .media1 {
        float: left;
    }
    .media1, .media2, .media3 {
        padding: 50px;
        margin-bottom: 300px;
    }  
}

@media screen and (min-width: 960px) {
    .media1, .media2, .media3 {
        margin-right: 20px;
    }   
    .topEmpGrid {
        flex-wrap: nowrap;
    }
    .empIcons3 {
        margin-top: 250px;
    }
}

@media screen and (min-width: 1282px) {
    .empIcons3 {
        margin-top: 0px;
    }
}

