/* --PhoneInputCountryFlag {
  display: none;
} */

.form-container {
    margin: 100px auto;
    width: 1000px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .form-img {
    width: 100%;
    height: 100%;
    position:center;
    border-radius: 20px;
  }
  
  .form-img-2 {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  
  .form {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0;
  }
  
  .form h1 {
    font-size: 2rem;
    text-align: center;
    width: 80%;
    margin-bottom: 1rem;
    color: #486290;
  }
  
  .form-inputs {
    margin-bottom: 0.3rem;
    width: 80%;
  }
  
  .form-inputs p {
    font-size: 0.6rem;
    margin-top: 0.2rem;
    color: #f00e0e;
  }
  
  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color:black;
  }
  
  .form-input {
    /* display: block; */
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
  }
  
  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  
  .form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color:black;
    font-size: 1rem;
  }
  
  .form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
  }
  
  .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  
  .form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
  }

  /* start media queries */



@media screen and (max-width: 960px) {
 .form-container {
   height: 600px;
   width: 400px;
   background: #d6d6d6;
   position: relative;
 }

 .form-img {
  display: none;
 }

 .form {
   width: 100%;
   height: 30%;
   left: 50%;
 }
 .form-img-2 {
   left: 50%;
 }
}