.grid-container {
    justify-content: center;
    align-items: center;
    /* display: grid; */
}

@media (max-width: 960px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /* gap: 16px; */
      /* padding: 16px; */
    }

    .grid-item {
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      padding: 8px;
    }
  }