.grid-container {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 960px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }

    .grid-item {
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      padding: 8px;
    }
  }