ul.nav-menu {
  list-style: none;
  padding-left: 0rem;
}

.NavItems {
  background: linear-gradient(
    180deg,
    rgb(204, 204, 204) 0%,
    rgb(250, 250, 250) 100%
  );
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

.logo-text {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-family: Expletus Sans;
  color: #000000;
}

.nav .a {
  max-width: 1px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  text-align: center;
  width: 70vw;
  justify-content: center;
  /* margin-right: 2rem; */
}

.nav-links {
  color: #27aae1;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: flex;
}
a.nav-links {
  flex-wrap: nowrap;
}

.nav-links:hover {
  background-color: #c1c1c1;
  color: #486290;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #81cdee;
}

.menu-icon {
  display: none;
}

.navbar-logo {
  object-fit: contain !important;
}


/* start media queries*/

@media screen and (min-width: 320px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 0%;
    right: 0;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .navbar-logo {
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 100px;
    padding: 10px;
    object-fit: contain;
  }
  .nav-links {
    font-size: 1rem;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  .logo-text {
    margin-right: 4rem;
  }
}

@media screen and (max-width: 960px) {
    .navbar-logo {
        width: 150px;
        height: 75px;
        margin-right: 1rem;
    }
  .NavItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    top: 150px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgba(179, 225, 245, 0.8);
    left: 0;
    top: 100px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 4rem;
  }

  .nav-links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    color: #305074;
    align-content: center;
  }

  .nav-links:hover {
    background-color: #fff;
    opacity: 60%;
    border-radius: 20px;
    align-items: stretch;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0%;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 961px) {
  .menu-icon {
    display: none;
  }
  .logo-text {
    margin-left: 3rem;
    font-size: 36px;
  }
  .navbar-logo {
      width: 200px;
      height: 100px;
      margin-left: 1rem;
  }
  .nav-links {
    font-size: 1.5rem;
  }
}
